.reset{
    &:hover{
        color: red;
    }
    text-decoration: none;
    color: black;
    padding:10px;
    white-space: nowrap;
}
img{
    object-fit: contain;
    width: 230px;
    height: 230px;
}
.cartel{
    background-color: rgb(172, 172, 172);
    margin: 30px;
    border-radius: 10px;
    h6{
        margin-top: 30px;
    }
}
input{
    border-radius: 5px;
}
nav{
    background-color: rgb(233, 225, 225);
}
body{
    background-color: rgb(214, 206, 206);
}